@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Kaushan+Script&family=Nunito+Sans&display=swap');
body{
  font-family: 'Nunito Sans', sans-serif;
  background-color: black;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right bottom, #3a6abe, #063d7f);
  }

::-webkit-scrollbar{
    width:8px;
    height:0px;
  }

/* {
  id:'16',
  name: "frontendLanding",
  image_path: "/front.jpg",
  deployed_url: "https://tailwindreact-nine.vercel.app/",
  github_url: "https://github.com/OmniaRafat232111121/tailwindreact",
  category: ["react"],
  description:
    "An web app which Develop ,education an frontendDevelopment with features App.",
  key_techs: ["React", "tailwindcss"],
}, */